Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

upgrade dart dependencies (#814)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 3e54ab86fe3302379aad0721739f3f96e575ee0f
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

upgrade dart dependencies
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies (#816)
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

upgrade dart dependencies (#818)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

upgrade dart dependencies
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies (#822)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: cb87d924f259d52d9600392571b581a48d4a8285
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/IOPOL_VFS_SKIP_MTIME_UPDATE_IGNORE-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_ALL_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_COLLATE_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_CTYPE_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_MESSAGES_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_MONETARY_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_NUMERIC_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LC_TIME_MASK-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_13_7-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_14_6-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_14_7-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_15_1-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_15_2-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_15_3-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_15_4-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/MAC_OS_VERSION_15_5-constant.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/locale_t.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

upgrade dart dependencies
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#823)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#824)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: b9f12bd2c8741f619fffc6bae6510f1b1003c6f9
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

upgrade dart dependencies
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies (#825)
  lib/src/ffi/bindings.dart
Labels: ffigen

Prepare for new Release 7.53.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

deploy: 9460b702b2eeef51875bca20469d775f74736360
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

Prepare for new Release 7.53.0 (#826)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade libedax
  .libedax-version
Labels: none

bump version
  CHANGELOG.md
  example/pubspec.lock
  pubspec.yaml
Labels: none

workaround for windows
  .github/workflows/create_release.yaml
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

upgrade libedax (#827)
  .github/workflows/create_release.yaml
  .github/workflows/dart_ci.yaml
  .libedax-version
  CHANGELOG.md
  example/pubspec.lock
  pubspec.yaml
Labels: GitHub Actions

bump Dart SDK min version
  pubspec.yaml
Labels: none

Prepare for new Release 7.55.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.55.0 (#829)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
Labels: none

upgrade dart dependencies (#831)
  example/pubspec.lock
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  pubspec.lock
Labels: none

upgrade dart dependencies (#833)
  example/pubspec.lock
  pubspec.lock
Labels: none

fix typo
  lib/src/libedax.dart
Labels: none

deploy: 65f8940bfa2d8710c4f2b54078b4551db34fb9f5
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookCountBoardBestpath.html
Labels: none

Prepare for new Release 7.56.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.56.0 (#836)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies (#837)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#838)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: 5d572cb6fd19129f91b67ea384b47a9253eda118
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none
