Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

rename
  doc/development.md
Labels: none

mild fix
  README.md
  doc/development.md
Labels: none

separate development section from top README (#510)
  README.md
  doc/development.md
  example/pubspec.lock
Labels: none

deploy: 314d620c580424e149d434df33e9c30405f91df7
  index.html
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#511)
  pubspec.lock
Labels: none

Update dart_deps.yaml
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

Update dart_ci.yaml
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

Update dart_ci.yaml (#512)
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#513)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#514)
  pubspec.lock
Labels: none

Update dart_ci.yaml
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

Update dart_ci.yaml (#515)
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#516)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#517)
  pubspec.lock
Labels: none

Prepare for new Release 7.25.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.25.0 (#519)
  CHANGELOG.md
  pubspec.yaml
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#520)
  example/pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#521)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#523)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#524)
  example/pubspec.lock
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#526)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#527)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#528)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#529)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#530)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml
