Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#655)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: ba879f04bc25e3182e936c5cb4ab2416da6e8a8d
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#656)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 08d2a238dc95e1e468791d4e1424813690bdcbf4
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#657)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 03361a03719685bba99b7a61c96806552a1e1f94
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

Update dart_deps.yaml
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

`dart pub upgrade && dart pub upgrade --major-versions` (#658)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 0fc4d7807d0933dbb101049ef71453a0ea8f8fe3
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#659)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#660)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

deploy: ef047e29b491b57e24438a59cb5e539761b9e4cd
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#661)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: a75bf2edbf98e1146d96528f17ddb57de44fe509
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#662)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: db0e8db600fd4a4d6af9ee540cfc7400aea603fc
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#663)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: be6823b20f20539fd47785aa13f99d9a30eb0c3a
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#664)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 9dac2d92b6f65a2a83faceb4eb42baeb4c385786
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#665)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

deploy: 6ea622ba58daac53bd74545b4083e386027b6665
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#666)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 0162b5173b899b1a7beab36571900a0d4ba30e31
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#668)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

`dart pub upgrade && dart pub upgrade --major-versions` (#669)
  lib/src/ffi/bindings.dart
Labels: ffigen
