Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

upgrade dart dependencies (#839)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies (#841)
  pubspec.lock
  pubspec.yaml
Labels: none

android so file
  .github/workflows/create_release.yaml
  README.md
  scripts/build_libedax_android.sh
  scripts/test_android_build.sh
Labels: GitHub Actions

SC2086
  scripts/build_libedax_android.sh
Labels: none

fix
  .github/workflows/create_release.yaml
Labels: GitHub Actions

fix
  scripts/build_libedax_android.sh
Labels: none

test build
  scripts/test_android_armv7_build.sh
Labels: none

Revert "test build"
  scripts/test_android_armv7_build.sh
Labels: none

fix
  scripts/test_android_build.sh
Labels: none

upd
  .github/workflows/create_release.yaml
Labels: GitHub Actions

android static lib (#842)
  .github/workflows/create_release.yaml
  README.md
  scripts/build_libedax_android.sh
Labels: GitHub Actions

deploy: 35fdcd8672f40d6f7058138177029a14c1632156
  index.html
Labels: none

ios build
  .github/workflows/create_release.yaml
  scripts/build_libedax_ios.sh
Labels: GitHub Actions

upd
  README.md
  scripts/build_libedax_ios.sh
Labels: none

mild rename
  .github/workflows/create_release.yaml
  .github/workflows/dart_ci.yaml
  .github/workflows/dart_deps.yaml
  scripts/build_libedax_desktop.sh
Labels: GitHub Actions

rename
  lib/src/ffi/dylib_utils.dart
  scripts/build_libedax_ios.sh
Labels: none

SC2115
  scripts/build_libedax_ios.sh
Labels: none

refac
  scripts/build_libedax_android.sh
  scripts/build_libedax_android.sh.backup
  scripts/build_libedax_common.sh
  scripts/build_libedax_desktop.sh
  scripts/build_libedax_ios.sh
  scripts/build_libedax_linux.sh
  scripts/build_libedax_osx.sh
  scripts/build_libedax_windows.sh
Labels: none

fix
  .github/workflows/create_release.yaml
  .github/workflows/dart_ci.yaml
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

shellcheck
  scripts/build_libedax_android.sh
  scripts/build_libedax_ios.sh
  scripts/build_libedax_linux.sh
  scripts/build_libedax_osx.sh
  scripts/build_libedax_windows.sh
Labels: none

shellcheck
  .github/workflows/shell_script_ci.yaml
  scripts/build_libedax_android.sh
  scripts/build_libedax_android.sh.backup
  scripts/build_libedax_common.sh
  scripts/build_libedax_linux.sh
Labels: GitHub Actions

shellcheck
  scripts/build_libedax_android.sh
  scripts/build_libedax_ios.sh
  scripts/build_libedax_linux.sh
  scripts/build_libedax_osx.sh
  scripts/build_libedax_windows.sh
Labels: none

Revert "android static lib (#842)"
  .github/workflows/create_release.yaml
  README.md
  scripts/build_libedax_android.sh
Labels: GitHub Actions

Revert "android static lib (#842)" (#844)
  .github/workflows/create_release.yaml
  README.md
  scripts/build_libedax_android.sh
Labels: GitHub Actions

Prepare for new Release 7.57.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

deploy: d2ae664cc1065564b4b4cee35913e85c7cf54f31
  index.html
Labels: none

Prepare for new Release 7.57.0 (#845)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#846)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.58.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.58.0 (#847)
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.58.1
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.58.1 (#850)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dylib util
  lib/src/ffi/dylib_utils.dart
Labels: none

upgrade libedax-version
  .libedax-version
Labels: none

workflow
  .github/workflows/create_release.yaml
Labels: GitHub Actions

mild refactoring
  .github/workflows/create_release.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release.yaml
Labels: GitHub Actions

fix
  .github/workflows/create_release.yaml
Labels: GitHub Actions
