Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#200)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

add edaxBookCountBoardBestpath
  CHANGELOG.md
  ffigen.yaml
  lib/src/ffi/bindings.dart
  lib/src/libedax.dart
Labels: ffigen

mild fix deprecated message
  lib/src/libedax.dart
Labels: none

upgrade libedax (#201)
  .libedax-version
  CHANGELOG.md
  ffigen.yaml
  lib/src/ffi/bindings.dart
  lib/src/libedax.dart
  lib/src/position.dart
Labels: ffigen

bump version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade --null-safety` (#202)
  lib/src/ffi/bindings.dart
Labels: ffigen

dart documentation preview on PR
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

use llvm@13 which is installed by homebrew
  .github/workflows/dart_deps.yaml
  ffigen.yaml
Labels: GitHub Actions, ffigen

use llvm@13 which is installed by homebrew (#204)
  .github/workflows/dart_deps.yaml
  ffigen.yaml
Labels: GitHub Actions, ffigen

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#205)
  pubspec.lock
  pubspec.yaml
Labels: none

add test for edaxBookCountBoardBestpath
  test/edax_command_test.dart
Labels: none

fix test
  test/edax_command_test.dart
Labels: none

fix test
  test/edax_command_test.dart
Labels: none

fix test
  test/edax_command_test.dart
Labels: none

fix edaxBookCountBoardBestpath I/F and documentation
  lib/src/libedax.dart
  test/edax_command_test.dart
Labels: none

bump version
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.yaml
Labels: none

fix comment
  lib/src/libedax.dart
Labels: none

mild fix comment
  lib/src/libedax.dart
Labels: none

add test for `edaxBookCountBoardBestpath` (#206)
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/libedax.dart
  pubspec.yaml
  test/edax_command_test.dart
Labels: none

refer bindings for constants
  lib/src/board.dart
  lib/src/constants.dart
  lib/src/libedax.dart
Labels: none

add boardSize
  lib/src/constants.dart
  lib/src/util.dart
Labels: none

fix typo
  lib/src/constants.dart
Labels: none

mild rename
  lib/src/constants.dart
  lib/src/libedax.dart
Labels: none

mild fix comment
  lib/src/constants.dart
Labels: none

bump version
  CHANGELOG.md
  pubspec.yaml
Labels: none

refer bindings for constants (#207)
  CHANGELOG.md
  lib/src/board.dart
  lib/src/constants.dart
  lib/src/libedax.dart
  lib/src/util.dart
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#208)
  example/pubspec.lock
Labels: none

fix library public/private scope
  CHANGELOG.md
  lib/libedax4dart.dart
  lib/src/extensions/pointer_char.dart
  lib/src/extensions/string.dart
  lib/src/libedax.dart
  pubspec.yaml
Labels: none

enhance documentation of public module
  lib/src/board.dart
  lib/src/constants.dart
  lib/src/count_bestpath_result.dart
  lib/src/hint.dart
  lib/src/libedax.dart
  lib/src/link.dart
  lib/src/move.dart
  lib/src/move_list_with_position.dart
  lib/src/position.dart
  lib/src/score.dart
Labels: none

mild fix
  lib/src/constants.dart
Labels: none

mild fix
  lib/src/libedax.dart
Labels: none

mild fix
  lib/src/libedax.dart
Labels: none

mild fix
  lib/src/libedax.dart
Labels: none

fix deprecated_member_use_from_same_package
  lib/src/libedax.dart
Labels: none

fix library public/private scope (#209)
  CHANGELOG.md
  lib/libedax4dart.dart
  lib/src/board.dart
  lib/src/constants.dart
  lib/src/count_bestpath_result.dart
  lib/src/extensions/pointer_char.dart
  lib/src/extensions/string.dart
  lib/src/hint.dart
  lib/src/libedax.dart
  lib/src/link.dart
  lib/src/move.dart
  lib/src/move_list_with_position.dart
  lib/src/position.dart
  lib/src/score.dart
  pubspec.yaml
Labels: none

remove redundant documentation link
  pubspec.yaml
Labels: none

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml
