Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#243)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#244)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

change dart pub upgrade option
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

dart pub upgrade
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --major-versions`
  example/pubspec.lock
  example/pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --major-versions` (#245)
  example/pubspec.lock
  example/pubspec.yaml
Labels: none

adjust cron schedule
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

bump SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

adjust dependabot schedule
  .github/dependabot.yml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --major-versions` (#246)
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade
  pubspec.lock
Labels: none

add `dart pub upgrade`
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

fix typo
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#247)
  example/pubspec.lock
  pubspec.lock
Labels: none

bump Dart SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --null-safety
  pubspec.yaml
Labels: none

dart pub upgrade --null-safety
  example/pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#248)
  pubspec.lock
Labels: none

dart pub upgrade --null-safety
  pubspec.lock
  pubspec.yaml
Labels: none

dart run ffigen --config ffigen.yaml --verbose severe && dart format --fix .
  lib/src/ffi/bindings.dart
Labels: ffigen

bump version
  CHANGELOG.md
  pubspec.yaml
Labels: none

cd example && dart pub upgrade
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#249)
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#250)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#251)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#252)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#253)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#254)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none
