Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

dylib for iOS Device and Simulator (#855)
  .github/workflows/create_release.yaml
  .libedax-version
  lib/src/ffi/dylib_utils.dart
Labels: GitHub Actions

Prepare for new Release 7.59.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.59.0 (#856)
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update create_release.yaml
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 7.59.1
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.59.1 (#857)
  CHANGELOG.md
  pubspec.yaml
Labels: none

may fix
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 7.59.2
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.59.2 (#858)
  CHANGELOG.md
  pubspec.yaml
Labels: none

create_release.yaml を更新
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 7.60.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

create_release.yaml を更新
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 7.59.3
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.59.3 (#860)
  CHANGELOG.md
  pubspec.yaml
Labels: none

update doc
  README.md
Labels: none

deploy: 9fe91df51861be041476180a5db5673e3d1a3874
  index.html
Labels: none

loosen meta package version
  example/pubspec.lock
  pubspec.yaml
Labels: none

loosen meta package version (#861)
  example/pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.60.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.60.0 (#862)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#865)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#868)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.61.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.61.0 (#869)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  pubspec.lock
Labels: none

upgrade dart dependencies (#870)
  example/pubspec.lock
  pubspec.lock
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  pubspec.lock
Labels: none

upgrade dart dependencies (#872)
  example/pubspec.lock
  pubspec.lock
Labels: none

Prepare for new Release 7.62.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.62.0 (#875)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies (#876)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies (#879)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: eec46478eeb6402c8b8a7e50e1e3dd34b3b71de9
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none

upd
  .libedax-version
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#882)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen
