Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

Prepare for new Release 5.10.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

bump dart SDK min version
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 5.10.0 (#287)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#288)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#289)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#290)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#291)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#292)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#293)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#294)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Create pub_dev_publish.yaml
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Update pub_dev_publish.yaml
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Update pub_dev_publish.yaml
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Create pub_dev_publish.yaml (#295)
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Prepare for new Release 5.11.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.11.0 (#296)
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update create_release.yaml
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Update create_release.yaml (#297)
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 5.11.1
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.11.1 (#298)
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update create_release.yaml
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 5.11.2
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update create_release.yaml
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 5.11.2
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.11.2 (#300)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#301)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#302)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#303)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#304)
  pubspec.lock
Labels: none
