Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

bump Dart SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 5.13.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.13.0 (#323)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#324)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#325)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

update .libedax-version file
  .libedax-version
Labels: none

update .libedax-version file (#326)
  .libedax-version
Labels: none

Prepare for new Release 5.14.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.14.0 (#327)
  CHANGELOG.md
  pubspec.yaml
Labels: none

loose meta deps limitation
  example/pubspec.lock
  pubspec.yaml
Labels: none

loose meta deps limitation (#328)
  example/pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 5.15.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 5.15.0 (#329)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade example deps
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#332)
  pubspec.yaml
Labels: none

fix simple variable ref mistake of edaxSetOption
  lib/src/libedax.dart
Labels: none

fix simple variable ref mistake of edaxSetOption (#333)
  lib/src/libedax.dart
Labels: none

deploy: 9bd314a6292f61584c3d9cf716a62542758b45b0
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxSetOption.html
Labels: none

remove Deprecated edaxBookCountBestpath
  lib/src/libedax.dart
  test/edax_command_test.dart
Labels: none

bump SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

update CHANGELOG
  CHANGELOG.md
Labels: none

Revert "update CHANGELOG"
  CHANGELOG.md
Labels: none

remove Deprecated method `edaxBookCountBestpath` (#334)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/libedax.dart
  pubspec.lock
  pubspec.yaml
  test/edax_command_test.dart
Labels: none

Prepare for new Release 6.0.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

update CHANGELOG
  CHANGELOG.md
Labels: none

loose meta deps
  pubspec.yaml
Labels: none

update example deps
  example/pubspec.lock
Labels: none

Prepare for new Release 6.0.0 (#335)
  CHANGELOG.md
  example/pubspec.lock
  pubspec.yaml
Labels: none

d
  test/edax_command_test.dart
Labels: none

revert d
  .github/workflows/dart_ci.yaml
  test/edax_command_test.dart
Labels: GitHub Actions

テスト_book.dat
  resources/テスト_book.dat
  test/edax_command_test.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

change test report format
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

edaxEnableBookVerbose
  test/edax_command_test.dart
Labels: none

remove debug code
  lib/src/libedax.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

debug print
  lib/src/libedax.dart
Labels: none

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml
