Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

Prepare for new Release 7.43.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.43.0 (#759)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#760)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Now that closeDll is not experimental, delete the annotation
  lib/src/libedax.dart
Labels: none

Now that closeDll is not experimental, delete the annotation (#761)
  lib/src/libedax.dart
Labels: none

deploy: acf1b39b69b55264caf21d887defc3c87d73e42b
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/closeDll.html
Labels: none

add useResult annotation
  lib/src/libedax.dart
Labels: none

add useResult annotation (#762)
  lib/src/libedax.dart
Labels: none

deploy: f80452d85d2317b0a91cbb52b5b65b83d9609447
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBoardGetSquareColor.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBoardIsPass.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookCountBoardBestpath.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxCanMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBoard.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMoveWithPosition.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMoveWithPositionByMoves.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetCurrentPlayer.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetDisc.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetLastMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetMobilityCount.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetMoves.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetOpponentPlayer.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHint.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHintNext.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHintNextNoMultiPvDepth.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxIsGameOver.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxOpening.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/popCount.html
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#763)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: 49855b75c2cc40666018f7aa811497d13c731bae
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

Prepare for new Release 7.44.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.44.0 (#764)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#765)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 1a7d33764b139189d72db5a7be7a7ff9c56e71b7
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

change typos workflow
  .github/workflows/typos.yaml
  .typos.toml
Labels: GitHub Actions

change typos workflow (#766)
  .github/workflows/typos.yaml
  .typos.toml
Labels: GitHub Actions

bump Dart SDK min version
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

dart format .
  lib/src/board.dart
  lib/src/ffi/dylib_utils.dart
  lib/src/position.dart
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

dart pub upgrade --major-versions --tighten (#768)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

bump Dart SDK min version (#767)
  example/pubspec.lock
  lib/src/board.dart
  lib/src/ffi/bindings.dart
  lib/src/ffi/dylib_utils.dart
  lib/src/position.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.45.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.45.0 (#769)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#771)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: b05b510f0ea58edce1df7ca16c7cf754e38657fc
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

improve safety of move2String
  lib/src/util.dart
Labels: none

deploy: 31255c6c9952290308e6eeed5feda5fd60f5b77b
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_util/move2String.html
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#772)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#773)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 4c406f93b94f7ac4444b5d012815f3019a15657a
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

Prepare for new Release 7.46.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.46.0 (#775)
  CHANGELOG.md
  pubspec.yaml
Labels: none

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml
