Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

fix doc generate command
  .github/workflows/api_doc.yaml
  .github/workflows/dart_ci.yaml
  README.md
Labels: GitHub Actions

bump version
  CHANGELOG.md
  pubspec.yaml
Labels: none

remove redundant documentation link (#210)
  .github/workflows/api_doc.yaml
  .github/workflows/dart_ci.yaml
  CHANGELOG.md
  README.md
  pubspec.yaml
Labels: GitHub Actions

Update libedax.dart
  lib/src/libedax.dart
Labels: none

Update libedax.dart
  lib/src/libedax.dart
Labels: none

upgrade deps
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

loose the version of meta package
  CHANGELOG.md
  pubspec.yaml
Labels: none

bump version
  pubspec.yaml
Labels: none

mild fix CHANGELOG
  CHANGELOG.md
Labels: none

fix
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

loose the version of `meta` package (#212)
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#213)
  example/pubspec.lock
  pubspec.yaml
Labels: none

loose deps versions
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#215)
  pubspec.lock
  pubspec.yaml
Labels: none

bump llvm version
  .github/workflows/dart_deps.yaml
  example/pubspec.lock
  example/pubspec.yaml
  ffigen.yaml
  pubspec.lock
  pubspec.yaml
Labels: GitHub Actions, ffigen

bump llvm version (#216)
  .github/workflows/dart_deps.yaml
  example/pubspec.lock
  example/pubspec.yaml
  ffigen.yaml
  pubspec.lock
  pubspec.yaml
Labels: GitHub Actions, ffigen

remove redundant version specification of llvm
  .github/workflows/dart_deps.yaml
  .gitignore
  ffigen.yaml
Labels: GitHub Actions, ffigen

fix
  ffigen.yaml
Labels: ffigen

remove redundant version specification of llvm (#217)
  .github/workflows/dart_deps.yaml
  .gitignore
  ffigen.yaml
Labels: GitHub Actions, ffigen

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#218)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#219)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#220)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#221)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#222)
  pubspec.lock
Labels: none

enhance idempotence
  scripts/build_libedax.sh
Labels: none

fix shellcheckg
  scripts/build_libedax.sh
Labels: none

fix shellcheckg (#224)
  scripts/build_libedax.sh
Labels: none

investigate into book loading of non ASCII path
  test/edax_command_test.dart
  リソース/test_book.dat
  リソース/test_book_show.txt
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#225)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#226)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none
