Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#730)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: e5606c8e88aa3a23f51ffe138ad99fd44f21e3e9
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#731)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: b91f49c846067246e9bb1f514f75503bc0f2fd14
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1/tz_minuteswest.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#732)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

howdy?
  test/edax_command_test.dart
Labels: none

hi
  test/edax_command_test.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#735)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

debug
  test/edax_command_test.dart
Labels: none

book load
  test/edax_command_test.dart
Labels: none

book show
  test/edax_command_test.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

d
  test/edax_command_test.dart
Labels: none

fix unstable test on github runner ubuntu (#736)
  test/edax_command_test.dart
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#737)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 0d1edccba459fa2d86c687427e69a642931454fd
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  index.json
Labels: none

Update libedax.dart
  lib/src/libedax.dart
Labels: none

deploy: 6a9e3f8623868e7f053ea8e0c01df56ad12b443f
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/libedaxInitialize.html
Labels: none

vscode extensions
  .vscode/extensions.json
Labels: none

Update and rename development.md to references.md
  doc/development.md
  doc/references.md
Labels: none

Update dart_deps.yaml
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

Update settings.json
  .vscode/settings.json
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

pubspec.yaml の更新
  pubspec.yaml
Labels: none

Prepare for new Release 7.38.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.38.0 (#738)
  CHANGELOG.md
  pubspec.yaml
Labels: none

mild update doc
  README.md
Labels: none

remove redundant doc
  doc/references.md
Labels: none

deploy: 163b6f8763f27a2d2652c5301ffe665ad55d6b0f
  index.html
Labels: none

README.md の更新
  README.md
Labels: none

deploy: 97abf3311045a252f5e15f52d0f437a2f3159927
  index.html
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  pubspec.lock
Labels: none

dart pub upgrade --major-versions --tighten (#739)
  example/pubspec.lock
  pubspec.lock
Labels: none
