Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#364)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#365)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#366)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#367)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#368)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#369)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety && dart pub upgrade --major-versions` (#370)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub get
  example/pubspec.lock
  pubspec.lock
Labels: none

dart pub upgrade
  example/pubspec.lock
  pubspec.lock
Labels: none

bump sdk min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

fix upgrade command on github actions
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

mild fix
  CHANGELOG.md
Labels: none

dart pub upgrade --major-versions
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart run ffigen --config ffigen.yaml --verbose severe && dart format --fix .
  lib/src/ffi/bindings.dart
Labels: ffigen

follow dart3 (#371)
  .github/workflows/dart_deps.yaml
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: GitHub Actions, ffigen

Prepare for new Release 7.0.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.0.0 (#372)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#373)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

Prepare for new Release 7.1.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.1.0 (#374)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#375)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

deploy: 1983e4b6ca416362c95c315576226390dd9c03e9
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/Engine-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/Engine/last_position.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/GGSClient-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/GGSClient/loop.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/GGSClient/once.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct15-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct15/UnnamedStruct15.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct15/board.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct15/n.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct16-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct16/UnnamedStruct16.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct16/cmd.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct16/delay.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct16/i.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct17-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct17/UnnamedStruct17.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct17/cmd.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct17/delay.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  index.json
Labels: none

Prepare for new Release 7.2.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.2.0 (#376)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#377)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#378)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#379)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none
