Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  pubspec.lock
Labels: none

dart pub upgrade --major-versions --tighten (#740)
  example/pubspec.lock
  pubspec.lock
Labels: none

ffigen.yaml の更新
  ffigen.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#743)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart_deps.yaml の更新
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

disable dart format to generated codes (#742)
  .github/workflows/dart_deps.yaml
  ffigen.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: GitHub Actions, ffigen

Prepare for new Release 7.39.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.39.0 (#744)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#745)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.40.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.40.0 (#746)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#747)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: d352c0ed4b98ae0125ad3dfe53596a69dc447b93
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

dart pub upgrade --major-versions --tighten (#748)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: 955079a5fcb226f31f8dea2a5830522b49cb68bd
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#749)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 39189db94d19c86fcafe8b643f9ed867b7c06994
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#750)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: df059979eef010965ccc6ce2d39f7bb19fdae6d7
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#751)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.41.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#753)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.41.0 (#752)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#754)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#755)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#757)
  pubspec.lock
  pubspec.yaml
Labels: none

Update extensions.json
  .vscode/extensions.json
Labels: none

Prepare for new Release 7.42.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.42.0 (#758)
  CHANGELOG.md
  pubspec.yaml
Labels: none
