Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

[Scheduled] `dart pub upgrade --null-safety` (#227)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#228)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#229)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#230)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#231)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#232)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#233)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#234)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#235)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

bump SDK min version
  example/pubspec.yaml
  pubspec.yaml
Labels: none

bump version
  CHANGELOG.md
  pubspec.yaml
Labels: none

downgrade meta package version
  pubspec.yaml
Labels: none

loose the version of meta package in dependencies.
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#236)
  example/pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#237)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

try write-all permission
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

pull-requests: write
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade --null-safety` (#238)
  .github/workflows/dart_ci.yaml
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#239)
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade --null-safety` (#240)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#241)
  pubspec.lock
  pubspec.yaml
Labels: none

bump Dart SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#242)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

bump version
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade example deps
  example/pubspec.lock
Labels: none

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml
