Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

deploy: 6b50b6a19361468e5e42f33a56964ffe26d7e236
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#883)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: f3ffa4272aeca094510d8cd446f851df13b81384
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#885)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: da588b16d071ddd41f9bf48a72dab5e7c2f6d237
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies (#888)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.63.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.63.0 (#890)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#893)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

deploy: b1f7fbc345bb8a4352a75c7bf30aa8c8e3e0889b
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none

Update typos action to use latest master branch
  .github/workflows/typos.yaml
Labels: GitHub Actions

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#895)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.64.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.64.0 (#896)
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies (#897)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

upgrade dart dependencies (#900)
  example/pubspec.lock
  example/pubspec.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.65.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update .codecov.yml
  .codecov.yml
Labels: codecov

Prepare for new Release `7.65.0` (#901)
  .codecov.yml
  CHANGELOG.md
  pubspec.yaml
Labels: codecov

dart fix . --apply
  test/edax_command_test.dart
Labels: none

Use Windows ACP (systemEncoding) instead of UTF-8 when building char* for libedax args. Keeps edax-reversi C code unchanged while fixing non-ASCII path handling on Windows.
  lib/src/extensions/string.dart
Labels: none

mild fix
  test/edax_command_test.dart
Labels: none

mild fix
  test/edax_command_test.dart
Labels: none

debug
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

remove Windows-specific handling in toCharPointer method
  lib/src/extensions/string.dart
Labels: none

tmp
  .libedax-version
Labels: none

update
  .libedax-version
Labels: none

Add Windows-only test for libedax initialization with non-ASCII book file paths (#902)
  .github/workflows/dart_ci.yaml
  .libedax-version
  test/edax_command_test.dart
Labels: GitHub Actions

Prepare for new Release 7.66.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

upgrade dart dependencies
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade dart dependencies (#904)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

Prepare for new Release 7.66.0 (#903)
  CHANGELOG.md
  pubspec.yaml
Labels: none

deploy: 523d1fb7c9d0903902dfa182e2aee6e681cfd968
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSFifoQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/OSQueueHead.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$10/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque2.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/UnnamedStruct$11/opaque3.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  index.json
Labels: none
