Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

update libedax version
  .libedax-version
Labels: none

dart run ffigen --config ffigen.yaml --verbose severe && dart format --fix .
  ffigen.yaml
  lib/src/ffi/bindings.dart
Labels: ffigen

edaxBoardGetSquareColor
  lib/src/libedax.dart
  test/edax_command_test.dart
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#455)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

fix typo
  lib/src/libedax.dart
Labels: none

add `edaxBoardGetSquareColor` (#454)
  .libedax-version
  example/pubspec.lock
  ffigen.yaml
  lib/src/ffi/bindings.dart
  lib/src/libedax.dart
  test/edax_command_test.dart
Labels: ffigen

deploy: 290df5e6c65973dbc64c294d5417ab4eb5fe4a40
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/edax_board_get_square_color.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBoardGetSquareColor.html
  index.json
Labels: none

Prepare for new Release 7.16.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.16.0 (#456)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#457)
  example/pubspec.lock
Labels: none

Prepare for new Release 7.17.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.17.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.17.0 (#460)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#461)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#462)
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#463)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#464)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions
