Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#399)
  example/pubspec.lock
  pubspec.lock
Labels: none

Prepare for new Release 7.5.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.5.0 (#400)
  CHANGELOG.md
  pubspec.yaml
Labels: none

Update pub_dev_publish.yaml
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Update pub_dev_publish.yaml (#401)
  .github/workflows/pub_dev_publish.yaml
Labels: GitHub Actions

Prepare for new Release 7.5.1
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.5.1 (#402)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#403)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#404)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#405)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.6.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.6.0 (#406)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#407)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#408)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#409)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

Prepare for new Release 7.7.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.7.0 (#410)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#411)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#412)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#413)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#414)
  pubspec.lock
Labels: none

Prepare for new Release 7.8.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.8.0 (#415)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#416)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#417)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#418)
  example/pubspec.lock
  pubspec.lock
Labels: none

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml
