Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#473)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#474)
  example/pubspec.lock
  pubspec.lock
Labels: none

Prepare for new Release 7.18.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.18.0 (#475)
  CHANGELOG.md
  pubspec.yaml
Labels: none

bump deps
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade
  example/pubspec.lock
Labels: none

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#476)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#477)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#478)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#479)
  pubspec.lock
Labels: none

Prepare for new Release 7.19.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.19.0 (#480)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#481)
  example/pubspec.lock
Labels: none

add ffigen workaround option for https://github.com/sensuikan1973/libedax4dart/issues/482
  ffigen.yaml
Labels: ffigen

dart pub upgrade
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#484)
  lib/src/ffi/bindings.dart
Labels: ffigen

upgrade ffigen (#483)
  ffigen.yaml
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

Prepare for new Release 7.20.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.20.0 (#485)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#486)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#487)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#488)
  pubspec.lock
Labels: none

Update dart_deps.yaml
  .github/workflows/dart_deps.yaml
Labels: GitHub Actions

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#489)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions` (#490)
  pubspec.lock
Labels: none

`dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none
