Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#776)
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

dart pub upgrade --major-versions --tighten (#777)
  lib/src/ffi/bindings.dart
  pubspec.lock
Labels: ffigen

deploy: 768e3369bea237e671e6d0723f2fdcf2e7f1a7c1
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

Update create_release.yaml
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Update create_release.yaml (#778)
  .github/workflows/create_release.yaml
Labels: GitHub Actions

Prepare for new Release 7.46.1
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.46.1 (#779)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#780)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: b3fcc3252fb4b7dd8a2d4868f42493b59244b0fc
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  pubspec.lock
Labels: none

dart pub upgrade --major-versions --tighten (#781)
  example/pubspec.lock
  pubspec.lock
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#782)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: 71a723c2b8ba3c11677f469787c6d756f9195e1a
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

dart pub upgrade --major-versions --tighten (#783)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: c1d0501c42c3c69d22f8351c951bf645c4e9d750
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1/tz_minuteswest.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  index.json
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#784)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 7.47.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.47.0 (#785)
  CHANGELOG.md
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten (#786)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

dart pub upgrade --major-versions --tighten
  lib/src/ffi/bindings.dart
Labels: ffigen

fix memory leak of libedaxInitialize
  lib/src/libedax.dart
Labels: none

dart pub upgrade --major-versions --tighten (#788)
  lib/src/ffi/bindings.dart
Labels: ffigen

deploy: effc01a34140c76320194bf4c289086ae528e87e
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/LibEdaxBindings/timezone$1.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings-library-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/index.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone$1-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class-sidebar.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone-class.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/timezone.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_dsttime.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_ffi_bindings/timezone/tz_minuteswest.html
  index.json
Labels: none

fix memory leak of libedaxInitialize (#789)
  lib/src/libedax.dart
Labels: none

deploy: cf37b5d138c66626fa1207f0751264e96b6d814d
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/libedaxInitialize.html
Labels: none

use Arena
  lib/src/extensions/string.dart
  lib/src/libedax.dart
Labels: none

mild fix
  lib/src/extensions/string.dart
Labels: none

be more robust with `Arena` (#790)
  lib/src/extensions/string.dart
  lib/src/libedax.dart
Labels: none

deploy: 4f4032690f7b9171e995c8c4040ed639300057fd
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_extensions_string/CharPointer.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_extensions_string/CharPointer/toCharPointer.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBoardGetSquareColor.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBoardIsPass.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookCountBoardBestpath.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookLoad.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookSave.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxBookShow.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBoard.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMoveWithPosition.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetBookMoveWithPositionByMoves.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetLastMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxGetMoves.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHint.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHintNext.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxHintNextNoMultiPvDepth.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxMove.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxPlay.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxSetOption.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/edaxSetboard.html
  file-___home_runner_work_libedax4dart_libedax4dart_lib_src_libedax/LibEdax/libedaxInitialize.html
Labels: none

Prepare for new Release 7.48.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.48.0 (#791)
  CHANGELOG.md
  pubspec.yaml
Labels: none

loosen meta package limitation
  example/pubspec.lock
  pubspec.yaml
Labels: none

loosen meta package limitation (#792)
  example/pubspec.lock
  pubspec.yaml
Labels: none

.github/labeler.yml:

---
'GitHub Actions':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

ffigen:
  - changed-files:
      - any-glob-to-any-file: ffigen.yaml
      - any-glob-to-any-file: lib/src/ffi/bindings.dart

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml
