Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#186)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#187)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

deploy: eca561166da9a89544f4a2b84cadc7b9f8716795
  index.html
Labels: none

deploy: a7e364c1108c1712a9ae1d76ce999dc67cabf630
  index.html
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#188)
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#189)
  pubspec.lock
Labels: none

bump Dart SDK min version
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

mild refactoring dart ci workflow
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

fix
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

fix
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

fix
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

fix needs
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

mild refactoring dart ci workflow (#190)
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

Update example.dart
  example/example.dart
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#191)
  pubspec.lock
Labels: none

bump version
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.yaml
Labels: none

bump version (#192)
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.yaml
Labels: none

downgrade Dart SDK min version
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

downgrade Dart SDK min version (#193)
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#194)
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

fix analyze
  lib/src/hint.dart
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#195)
  example/pubspec.lock
  lib/src/ffi/bindings.dart
  lib/src/hint.dart
  pubspec.lock
  pubspec.yaml
Labels: ffigen

bump version
  CHANGELOG.md
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#196)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#197)
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#198)
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade --null-safety`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade --null-safety` (#199)
  example/pubspec.lock
  pubspec.lock
Labels: none
