Repository sensuikan1973/libedax4dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, ffigen, codecov

.github/labeler.yml:

---
GitHub Actions:
  - .github/workflows/**/*
  - .github/scripts/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/.typos_config.toml

ffigen:
  - ffigen.yaml
  - lib/src/ffi/bindings.dart

codecov:
  - .codecov.yml

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#419)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#420)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#421)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#422)
  lib/src/ffi/bindings.dart
Labels: ffigen

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#423)
  pubspec.lock
Labels: none

Prepare for new Release 7.9.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.9.0 (#424)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#425)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#426)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#427)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#428)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#430)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#432)
  pubspec.lock
Labels: none

bump codecov/codecov-action
  .github/workflows/dart_ci.yaml
Labels: GitHub Actions

Prepare for new Release 7.10.0
  CHANGELOG.md
  pubspec.yaml
Labels: none

Prepare for new Release 7.10.0 (#434)
  CHANGELOG.md
  pubspec.yaml
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#435)
  example/pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#436)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#437)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#438)
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#439)
  example/pubspec.lock
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions`
  pubspec.lock
Labels: none

[Scheduled] `dart pub upgrade && dart pub upgrade --major-versions` (#440)
  pubspec.lock
Labels: none

Update libedax.dart
  lib/src/libedax.dart
Labels: none
